body{
    background-color: #2d2d2d;
    color: whitesmoke;
}

.modify-title-button {
    color: white;
    background-color: transparent;
    border: 0px;
    font-size: 2rem;
}
.routine-title {
    display: flex;
    justify-content: space-between;
}